<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VRMLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VRMLoader.Properties.Settings>
            <setting name="AvatarSize" serializeAs="String">
                <value>1.62</value>
            </setting>
            <setting name="LeftHandRotation" serializeAs="String">
                <value>-40, 60, 30</value>
            </setting>
            <setting name="RightHandRotation" serializeAs="String">
                <value>-40, -60, -30</value>
            </setting>
            <setting name="LeftHandPosition" serializeAs="String">
                <value>-0.016, 0.024, -0.13</value>
            </setting>
            <setting name="RightHandPosition" serializeAs="String">
                <value>0.016, 0.024, -0.13</value>
            </setting>
        </VRMLoader.Properties.Settings>
    </userSettings>
</configuration>